{% extends "base.html" %} {% block content %}
<h1>
    Student Attendance
</h1>
{% if session.role in ['Admin','Driver'] %}
<div class="panel">
    <form method="POST" action="/attendance/add" class="formgrid">
        <select name="student_id" title="Student">
            {% for s in students %}
            <option value="{{s.id}}">
                {{s.admission_no}} - {{s.fullname}}
            </option>
            {% endfor %}
            </select>
        <select name="bus_id" title="Bus">
                {% for b in buses %}
                <option value="{{b.id}}">
                    {{b.bus_number}}
                </option>
                {% endfor %}
            </select>
        <select name="status" title="Attendance Status">
                <option value="Boarded">
                    Boarded
                </option>
                <option value="Absent">
                    Absent
                </option>
                <option value="Dropped Off">
                    Dropped Off
                </option>
            </select>
        <button type="submit" class="btn">
                Record
            </button>
    </form>
</div>
{% endif %}
<div class="panel">
    <table>
        <tr>
            <th>
                Student
            </th>
            <th>
                Bus
            </th>
            <th>
                Status
            </th>
            <th>
                Time
            </th>
        </tr>
        {% for r in records %}
        <tr>
            <td>
                {{r.fullname}}
            </td>
            <td>
                {{r.bus_number}}
            </td>
            <td>
                {{r.status}}
            </td>
            <td>
                {{r.recorded_at}}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}