<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
        {% block title %}School Bus Tracking{% endblock %}
    </title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"> {% block head %}{% endblock %}
</head>

<body>
    {% if session.get('user_id') %}
    <nav>
        <h2>
            School Bus
        </h2>
        <a href="/dashboard">
        Dashboard
    </a>
        <a href="/map">
        Live Map
    </a> {% if session.get('role')=='Admin' %}
        <a href="/buses">
    Buses
</a>
        <a href="/admin/users">
    Users
</a>
        <a href="/students">
    Students
</a>
        <a href="/attendance">
    Attendance
</a>
        <a href="/reports">
    Reports
</a> {% elif session.get('role')=='Driver' %}
        <a href="/driver">
    Driver
</a>
        <a href="/attendance">
    Attendance
</a> {% else %}
        <a href="/students">
    My Student
</a> {% endif %}
        <a href="/logout">
    Logout
</a>
    </nav>
    {% endif %}
    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>